// Body
$body-bg: #f7f8d1;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$primary: #59a0ec; /* azul */
$secondary: #421d61; /* gris */
$success: #28a745; /* verde */
$warning: #f3bb21; /* amarillo */
$error: hsl(12, 80%, 53%); /* rojo */
